<!--  <footer id="footer">
	<div class="margin">
		<div class="clearfix">
			<div class="row">
				<p><strong>Contact Us</strong></p><br>
				<p>530-2710</p>
				<p>(032) 266-1290</p>
				<p>info@electricmeter.ph</p>
			</div>
			<div class="row">
				<p><strong>Connect With Us</strong></p><br>
				<ul class="clearfix">
					<li><a href="#"><img src="../assets/facebook.png"></a></li>
					<li><a href="#"><img src="../assets/google.png"></a></li>
				</ul>
			</div>
			<div class="row">
			</div>
		</div>
		<p style="text-align:center">&copy;All rights reserved 2016 Team Nodado</p>
	</div>
</footer>-->