<header id="header">
	<nav id="navbar">
		<h1 class="pull-left"><a href="#">Electric<span>Meter</span></a></h1>
		<div id="setting" class="pull-right">
			<div class="dropDown">
				<p id="menu"></p>		
			</div>
		</div>
	</nav>
</header>