<sidebar id="sidebar">
	<div id="sidebarHeader">
		<div id="userPhoto">
			<img ng-src="{{photo}}">
		</div>
		<div id="username">
			{{name}}
		</div>
	</div>
	<div id="sidebarBody">
		<ul>
			<li class="menu" ng-click="changeLocation('/MyDevices')"><i class="fa fa-bolt" style="margin-left: 5px;"></i><span style="margin-left: 11px;">Devices</span></li>
			<li class="menu" id="payBill" ng-click="showModal()"><i class="fa fa-credit-card"></i><span style="margin-left: 8px;">Pay Bill</span></li>
			<li class="menu" ng-click="logout()"><i class="fa fa-trash" style="margin-left: 2px; margin-top: 5px"></i><span style="margin-left: 10px;">Logout</span></li>
		</ul>
	</div>
</sidebar>

<div id="payModalWrapper" class="modalWrap">
	<div id="modal" class="modalContent">
		<div class="modalHeader">
			<strong>CURRENT BILL</strong>
			<close id="close" class="modalClose">&times;</close>
		</div>
		<div class="modalBody">
			<form ng-show="hasBill">
				<div class="row">
					<label>Meter Number </label>
					<select ng-model="device.deviceWithBill" ng-change="changeDevice()" type="text" class="input input-30" ng-options="device.meterNumber for device in entries.devicesPendingBill"></select>
				</div>
				<div class="row">
					<span>Reading Date: {{device.deviceWithBill.readingDate.month + "/" + device.deviceWithBill.readingDate.day + "/" + device.deviceWithBill.readingDate.year}}</span>
				</div>
				<div class="row">
					<span>Rate: {{readingRate}}</span>
				</div>
				<div class="row">
					<span>Reading: {{device.deviceWithBill.reading + "/watt-hour"}}</span>
				</div>
				<div class="row">
					<span>Total Amount: {{device.deviceWithBill.amount}}</span><br>
				</div>
				<div class="row">
					<label>Amount:</label>
					<input ng-model="amount" type="text" class="input input-50 text-right" placeholder="0.00" >
					<span ng-show="invalidAmount">Invalid amount.</span>
				</div>
			</form>
			<div class="row" ng-show="noBill">No bill for today.</div>
		</div>
		<div class="modalFooter">
			<div ng-show="hasBill">
			<button class="btn btnSuccess" ng-click="pay()"><i class="fa fa-check "></i>&nbsp;Pay</button>
			<button class="btn btnCancel"><i class="fa fa-close"></i>&nbsp;Cancel</button>
			</div>
		</div>
	</div>
</div>