<section id="devicePage" class="contentWrapper">
	<div class="contentHeader">
		
	</div>
	<div class="contentBody">
		<h3>MY BILLS</h3>
		<p style="margin-top: 15px">Meter Number: {{device.meterNumber}}</p>
		<table class="dataTable">
			<thead>
				<tr>
					<th class="text-left" ng-click="sort('reading')">
						Reading<span ng-show="sortKey=='reading'" ng-class="{'fa fa-caret-up':reverse,'fa fa-caret-down':!reverse}"></span></th>
					</th>
					<th class="text-left" ng-click="sort('readingDate')">
						Reading Date<span ng-show="sortKey=='readingDate'" ng-class="{'fa fa-caret-up':reverse,'fa fa-caret-down':!reverse}"></span></th>
					</th>
					<th class="text-left" ng-click="sort('amount')">
						Total Amount<span ng-show="sortKey=='amount'" ng-class="{'fa fa-caret-up':reverse,'fa fa-caret-down':!reverse}"></span></th>
					</th>
					<th class="text-center">Paid</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat = "bill in entries.bills | orderBy:sortKey:reverse">
					<td class="text-left">{{bill.reading}}</td>
					<td class="text-left">{{bill.readingDate}}</td>
					<td class="text-left">{{bill.amount + bill.status}}</td>
					<td class="text-center"><input ng-model="bill.status" type="checkbox" disabled/></td>
				</tr>
			</tbody>
		</table>
	</div>
</section>