<section id="devicePage" class="contentWrapper">
	<div class="contentHeader">
		<div class="pull-right">
			<table class="searchbar pull-right">
				<tr>
					<td><input class="search input-100" ng-model="searchEntry"></td>
					<td class="searchicon text-center"><i class="fa fa-search"></i></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="contentBody">
		<h3>DELETED BILLS</h3>
		<table class="dataTable">
			<thead>
				<tr>
					<th><i class="fa fa-trash" style="cursor:pointer"></i></th>
					<th><span style="cursor:pointer; width: 70px;">Restore</span></th>
					<th class="text-left">Reading<span style="padding: 5px;"><i class="fa fa-caret-down"></i></span></th>
					<th class="text-left">Reading Date</th>
					<th class="text-left">Total Amount</th>
					<th class="text-center">Paid</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="delete text-center"><i class="fa fa-close"></i></td>
					<td class=" restore text-center"><i class="fa fa-refresh"></i></td>
					<td class="text-left">10234512541</td>
					<td class="text-left">11/12/2015</td>
					<td class="text-left">1000</td>
					<td class="text-center"><input type="checkbox" disabled/></td>
				</tr>
				<tr>
					<td class="delete text-center"><i class="fa fa-close"></i></td>
					<td class=" restore text-center"><i class="fa fa-refresh"></i></td>
					<td class="text-left">10234512541</td>
					<td class="text-left">11/12/2015</td>
					<td class="text-left">1000</td>
					<td class="text-center"><input type="checkbox" disabled/></td>
				</tr>
				<tr>
					<td class="delete text-center"><i class="fa fa-close"></i></td>
					<td class=" restore text-center"><i class="fa fa-refresh"></i></td>
					<td class="text-left">10234512541</td>
					<td class="text-left">11/12/2015</td>
					<td class="text-left">1000</td>
					<td class="text-center"><input type="checkbox" disabled/></td>
				</tr>
				<tr>
					<td class="delete text-center"><i class="fa fa-close"></i></td>
					<td class=" restore text-center"><i class="fa fa-refresh"></i></td>
					<td class="text-left">10234512541</td>
					<td class="text-left">11/12/2015</td>
					<td class="text-left">1000</td>
					<td class="text-center"><input type="checkbox" disabled/></td>
				</tr>
				<tr>
					<td class="delete text-center"><i class="fa fa-close"></i></td>
					<td class=" restore text-center"><i class="fa fa-refresh"></i></td>
					<td class="text-left">10234512541</td>
					<td class="text-left">11/12/2015</td>
					<td class="text-left">1000</td>
					<td class="text-center"><input type="checkbox" disabled/></td>
				</tr>
			</tbody>
		</table>
	</div>
</section>