<section id="devicePage" class="contentWrapper">
	<div class="contentBody">
		<div class="title">
		<h3>NOTIFICATION</h3>
		</div>
		<div class="notif">
			<p>No bill yet.</p>
		</div>
		<div ng-if="false" class="notif" id="pending"><p>1 new bill pending.</p></div>
	</div>
</section>