<section id="listCustomerPage" class="contentWrapper">
	<div class="titleBar clearfix">
		<h4 class="left">Account Settings</h4>
		<ul class="titleNav right">
			<li><a href="#/Dashboard">Dashboard</a></li>
			<li>/</li>
			<li>Account Settings</li>
			<li>/</li>
			<li>Profile</li>
		</ul>
	</div>
	<div class="content">
		<div class="contentHeader">
			<p>Profile</p>
		</div>
		<div class="contentBody">
			<form>
				<div class="rowGroup clearfix">
					<div class="rowHeader">
						<p>PERSON INFO</p>
					</div>
					<div class="row clearfix">
						<div class="colLeft">
							<label for="firstName">First Name</label><br>
							<input name="firstName" title="First Name is required." type="text" ng-model="admin.firstName" class="input input-100" />
						</div>
						<div class="colRight">
							<label for="lastName">Last Name</label><br>
							<input  name="lastName" title="Last Name is required." type="text" ng-model="admin.lastName" class="input input-100" />
						</div>
					</div>
					<div class="row clearfix">
						<div class="colLeft">
							<label for="gender">Gender</label><br>
							<select  name="gender" title="Gender is required." ng-model="admin.gender" class="input input-100" ng-options="item for item in gender">
							</select>
						</div>
						<div class="colRight">
							<label for="birthday">Date of Birth</label><br>	
							<ul class="input-100">
								<li class="input-40">
									<select ng-model="admin.birthday.month" class="input input-100" ng-options="item.value  for item in months">
									</select>
								</li>
								<li class="input-30">
									<select ng-disabled="disable" ng-model="admin.birthday.day" class="input input-100" ng-options="item for item in days">
									</select>
								</li>
								<li class="input-30">
									<select ng-disabled="disable" ng-model="admin.birthday.year" class="input input-100" ng-options="item for item in years">
									</select>
								</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<label for="address">Address</label><br>
						<input  name="address" title="Address is required." type="text" ng-model="admin.address" class="input input-100" />
					</div>
				</div>
				<div class="rowGroup">
					<div class="rowHeader">
						<p>Contact Info</p>
					</div>
					<div class="row">
						<label for="email">Email</label><br>
						<inputname="email" title="Email is required." type="text" ng-model="admin.email" class="input input-100" />
					</div>
				</div>
				<div class="rowGroup">
					<div class="rowHeader">
						<p>ACCOUNT</p>
					</div>
					<div class="row">
						<label for="userName">Username</label><br>
						<input  ng-disabled="true" name="usernName" title="Username is required." type="text" ng-model="admin.username" class="input input-100" />
					</div>
					<div class="row">
						<label for="password">Password</label><br>
						<input  type="password" name="password" title="Password is required." type="text" ng-model="admin.password" class="input input-100" />
					</div>
					<div class="row">
						<label for="confirmPassword">Confirm Password</label><br>
						<input type="password" name="confirmPassword" title="Confirm Password is required." type="text" ng-model="confirmPassword" class="input input-100" />
					</div>
				</div>
			</form>
		</div>
		<div class="contentFooter">
			<button ng-disabled="disable" class="btn btnSuccess" ng-click="addAdmin()"><i class="fa fa-check "></i>&nbsp;Save</button>
			<button ng-disabled="disable" class="btn btnCancel" ng-click="clear()"><i class="fa fa-close"></i>&nbsp;Cancel</button>
		</div>
	</div>
</section>