<section id="DeviceDetailPage" class="contentWrapper">
	<div class="titleBar clearfix">
		<h4 class="left">Device</h4>
		<ul class="titleNav right">
			<li><a href="#/Dashboard">Dashboard</a></li>
			<li>/</li>
			<li>Device</li>
			<li>/</li>
			<li><a href="#/ListDevice">List Device</a></li>
			<li>/</li>
			<li>Device Details</li>
		</ul>
	</div>
	<div class="content">
		<div class="contentHeader">
			<p>Device Details</p>
		</div>
		<div class="contentBody">
			<form>
				<div class="row">
					<span>Owner: <soan ng-click="changeLocation()" style="color:#3399ff; cursor:pointer;">{{device.owner}}</soan></></span>
				</div>
				<div class="row">
					<span>Meter Number: {{device.meterNumber}}</span>
				</div>
				<div class="row">
					<ul class="input-50 clearfix" id="dateInstalled">
						<li  style="padding-top: 5px;"><span>Date Installed:</span></li>
						<li class="input-30" ng-if="notInstalled">
							<select ng-model="device.installation.month" class="input input-100" ng-options="item.value  for item in months">
								<option value="">Month</option>
							</select>
						</li>
						<li class="input-10" ng-if="notInstalled">
							<select ng-model="device.installation.day" class="input input-100" ng-options="item for item in days">
								<option value="">Day</option>
							</select>
						</li>
						<li class="input-20" ng-if="notInstalled">
							<select ng-model="device.installation.year" class="input input-100" ng-options="item for item in years">
								<option value="">Year</option>
							</select>
						</li>
					</ul>
				</div>
				<div class="rowGroup">
					<div class="rowHeader">
						<p style="display:inline">BILLS:</p>
					</div>
					<div class="row">
							<table class="dataTable">
				<thead>
					<tr>
						<th class="text-center delete"><i class="fa fa-trash" style="color: grey"></i></th>
						<th class="text-left input-15" ng-click="sort('readingDate')">
							Reading Date<span ng-show="sortKey=='readingDate'" ng-class="{'fa fa-caret-up':reverse,'fa fa-caret-down':!reverse}"></span>
						</th>
						<th class="text-center input-25" ng-click="sort('reading')">
							Reading<span ng-show="sortKey=='reading'" ng-class="{'fa fa-caret-up':reverse,'fa fa-caret-down':!reverse}"></span>
						</th>
						<th class="text-center input-25" ng-click="('amount')">
							Total Amount<span ng-show="sortKey=='amount'" ng-class="{'fa fa-caret-up':reverse,'fa fa-caret-down':!reverse}"></span>
						</th>
						<th class="text-center">Paid</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="bill in device.bills | orderBy:sortKey:reverse">
						<td class="delete text-center"><input ng-model="bill.remove" ng-true-value="true" ng-false-value="false" type="checkbox" ng-click="toDelete(bill)" ng-disabled="bill.status"></i></td>
						<td class="text-left input-15" ng-click="editBill(bill)">{{bill.readingDate.month + "/" + bill.readingDate.day + "/" + bill.readingDate.year}}</td>
						<td class="text-center input-25" ng-click="editBill(bill)">{{bill.reading}}/watt-hour</td>
						<td class="text-center input-25" ng-click="editBill(bill)">{{bill.amount}}</td>
						<td class="text-center" ng-click="editBill(bill)"><input type="checkbox" ng-model="bill.status" disabled></td>
					</tr>
				</tbody>
			</table>	
					</div>
				</div>
			</form>
		</div>
		<div class="contentFooter">
			<button class="btn btnSuccess" ng-click="updateDevice()"><i class="fa fa-check "></i>&nbsp;Save</button>
			<button class="btn btnCancel"><i class="fa fa-close"></i>&nbsp;Cancel</button>
			<button class="btn btnDelete"  ng-click="deleteBills()" ng-disabled="deleteMode"><i class="fa fa-trash"></i>&nbsp;Delete</button>
		</div>
	</div>
</section>

<div id="editModalWrapper" class="modalWrap">
	<div id="editModal" class="modalContent">
		<div class="modalHeader">
			<strong>EDIT BILL</strong>
			<close id="editClose" class="modalClose">&times;</close>
		</div>
		<div class="modalBody">
			<form>
				<div class="row">
					<label>Reading Date</label><br>
					<ul class="modalDate clearfix">
						<li class="input-25">
							<select ng-model="editBill.readingDate.month" class="input input-100" ng-options="month.value for month in months">
								
							</select>
						</li>
						<li class="input-15">
							<select ng-model="editBill.readingDate.day" class="input input-100" ng-options="day for day in days">
								
							</select>
						</li>
						<li class="input-20">
							<select ng-model="editBill.readingDate.year" class="input input-100" ng-options="year for year in years">
								
							</select>
						</li>
					</ul>
				</div>
				<div class="row">
					<label>Reading</label><br>
					<input ng-model="editBill.reading" type="text" class="input input-40 text-right">								
				</div>
				<div class="row">
					<label>Amount</label><br>
					<input ng-model="editBill.amount" type="text" class="input input-40 text-right">								
				</div>
			</form>
		</div>
		<div class="modalFooter clearfix">
			<div class="right">
			<button class="btn btnSuccess" ng-click="updateBill()"><i class="fa fa-check "></i>&nbsp;Pay</button>
			<button class="btn btnCancel"><i class="fa fa-close"></i>&nbsp;Cancel</button>
			</div>
		</div>
	</div>
</div>