<section id="listDevicePage" class="contentWrapper">
	<div class="titleBar clearfix">
		<h4 class="left">Device</h4>
		<ul class="titleNav right">
			<li><a href="#/Dashboard">Dashboard</a></li>
			<li>/</li>
			<li>Device</li>
			<li>/</li>
			<li>List Device</li>
		</ul>
	</div>
	<div class="content">
		<div class="contentHeader clearfix">
			<p class="left">List of Devices</p>
		</div>
		<div class="contentBody">
			<div class="row clearfix">
				<ul class="filter input-45">
					<li>Bill Status:</li>
					<li class="input-10"><select ng-model="billStatus.bill" class="input-100" ng-options="item for item in billStatus" ng-change="onStatus()"></select></li>
				</ul>
				<table class="searchbar right">
					<tr>
						<td><input class="search input-100" ng-model="searchEntry.meterNumber"></td>
						<td class="searchicon text-center"><i class="fa fa-search"></i></td>
					</tr>
				</table>
			</div>
			<table class="dataTable">
				<thead>
					<tr>
						<th class="delete  tex-center" style="color:grey" ng-click="sort('meterNumber')"><i class="fa fa-trash"></i></th>
						<th class="text-center input-25">
							Meter Number<span ng-show="sortKey=='meterNumber'" ng-class="{'fa fa-caret-up':reverse,'fa fa-caret-down':!reverse}"></span>
						</th>
						<th class="text-center" ng-click="sort('installationDate')">
							Installation Date<<span ng-show="sortKey=='first_name'" ng-class="{'fa fa-caret-up':reverse,'fa fa-caret-down':!reverse}"></span>
						/th>
						<th class="text-center">Pending Bill</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="device in entries.devices | filter:searchEntry  | orderBy:sortKey:reverse">
						<td class="delete text-center"><i class="fa fa-close" ng-click="deleteDevice(device)"></i></td>
						<td class="text-center input-20" ng-click="editDevice(device)">{{device.meterNumber}}</td>
						<td class="text-center input-45" ng-click="editDevice(device)">{{device.installationDate}}</td>
						<td class="text-center input-100" ng-click="editDevice(device)">
							<input ng-model="device.pendingBill" type="checkbox" ng-disabled="true">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="contentFooter">
		</div>
	</div>
</section>