<header header-option id="header" class="">
	<div id="logo" class="logo" style="color:#fff; text-align:center; font-size: 1.2em">Electric<span style="font-weight:bold">Meter</span>
	</div>
	<div id="barContainer" class="barContainer clearfix">
		<div id="bar"></div>
	</div>
	<div id="setting" class="pull-right">
			<div class="dropDown">
				<p id="menu"></p>		
			</div>
		</div>
</header>