<sidebar id="sidebar" class="sidebar">
	<div id="sidebarHeader">
		<div id="userPhoto">
			<img ng-src="{{photo}}">
		</div>
		<div id="username" class="text-center">
			<span class="hide" style="color:#fff;">{{name}}</span>
		</div>
	</div>
	<div id="sidebarBody">
		<p class="hide">MAIN MENU</p>
		<ul id="mainMenu">
			<li id="dashboard" class="category menu" ng-click="changeLocation('/Dashboard')">
				<i class="fa fa-home"></i>
				<span class="hide">Dashboard</span>
			</li>
			<li id="customer"  class="category menu">
				<i class="fa fa-user" style="padding-right: 3px"></i>
				<span class="hide">Customer</span>
			</li>
			<li class="noMenu hide">
				<ul id="subCustomer" class="subMenu">
					<li class="subCustomer menu" ng-click="changeLocation('/ListCustomer')">List Customers</li>
					<li class="subCustomer menu" ng-click="changeLocation('/CustomerDetails')">Add Customer</li>
				</ul>
			</li>
			<li id="device" class="category menu">
				<i class="fa fa-bolt" style="padding-right: 9px"></i>
				<span class="hide">Device</span>
			</li>
			<li class="noMenu hide">
				<ul id="subDevice" class="subMenu">
					<li class="subDevice menu" ng-click="changeLocation('/ListDevice')">List Devices</li>
					<li class="subDevice menu" id="addDevice" show-device-modal>Add New Device</li>
				</ul>
			</li>
			<li id="admin" class="category menu">
				<i class="fa fa-key"></i>
				<span class="hide">Admin</span>
			</li>
			<li class="noMenu hide">
				<ul id="subAdmin" class="subMenu">
					<li class="subAdmin menu" ng-click="changeLocation('/ListAdmin')">List Admins</li>
					<li class="subAdmin menu" ng-click="changeLocation('/AdminDetails')">Add New Admin</li>
				</ul>
			</li>
			<li  id="bills" class="category menu" ng-click="logout()">
				<i class="fa fa-sign-out" style="padding-right: 3px"></i>
				<span class="hide">Logout</span>
			</li>
		</ul>
	</div>
</sidebar>

<div id="modalDeviceWrapper" class="modalWrap" ng-controller="addDeviceCtrl">
	<div id="modalDevice" class="modalContent">
		<div class="modalHeader">
			<strong>Electric Meter Device</strong>
			<close-device id="closeDevice" class="modalClose">&times;</close-device>
		</div>
		<div class="modalBody">
			<form>
				<div class="row">
					<label for="meterNumber">Meter Number</label><br>
					<input name="meterNumber" type="text" class="input input-100" ng-model="device.meterNumber" maxlength="11">
				</div>
			</form>
		</div>
		<div class="modalFooter">
			<button class="btn btnSuccess" ng-click="addDevice()"><i class="fa fa-check "></i>&nbsp;Save</button>
			<button class="btn btnCancel" ng-click="cancel()"><i class="fa fa-close" ></i>&nbsp;Cancel</button>
		</div>
	</div>
</div>