<section id="dashboardPage" class="contentWrapper">
	<div class="titleBar">
		<h4>Dashboard</h4>
	</div>
	<div class="content">
		<div class="dashboard">
			<div class="dashboardHeader">
				<p>Total Customer</p>
			</div>
			<div class="dashboardBody">
			
			</div>
		</div>
		<div class="dashboard">
			<div class="dashboardHeader">
				<p>Total Device</p>
			</div>
			<div class="dashboardBody">
			
			</div>
		</div>
		<div class="dashboard">
			<div class="dashboardHeader">
				<p>Total Bill</p>
			</div>
			<div class="dashboardBody">
			
			</div>
		</div>
		<div class="dashboard">
			<div class="dashboardHeader">
				<p>Total Admin</p>
			</div>
			<div class="dashboardBody">
			
			</div>
		</div>
	</div>
</section>