* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	position: relative;
	background-color: #eaebeb;
	min-height: 100% !important;
	font-family: Calibri
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

#wrapper {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.clearfix:after {
	content:"";
	display:block;
	clear:both;
}

.filter {
	margin-bottom: -15px;	
	display: inline-block;
}

.filter li {
	float: left;
	display: block;
	margin-right: 4px;
}

/*Modal*/

.modalWrap:before {
	display: none;
}

.modalContent {
	position: absolute;
	width: 500px;
	height: auto;
	left: 50%;
	top: -200%;
	background-color: #fff;
		border-radius: 5px;
	
	-webkit-transform: translate(-50%);
	-moz-transform: translate(-50%);
	transform: translate(-50%);
	
	-webkit-transition: top 350ms ease-in-out;
	-moz-transition: top 350ms ease-in-out;
	transition: top 350ms ease-in-out;
}

 .showModalWrap {
	position: fixed;
	display:block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 20;
	background-color: rgba(0, 0, 0, 0.5);
}

.showModalContent {
	top: 15px;
}

.modalContent li{
	float: left;
	display: block;
	margin: 0 2px;
}

.modalHeader,
.modalBody,
.modalFooter {
	padding: 0 18px;
}

.modalBody {
	padding-top: 5px;
}

.modalHeader {
	padding-top: 18px;
	padding-bottom: 0px;
}

.modalFooter {
	padding-top: 45px;
	padding-bottom: 18px;
}

.modalClose {
	float: right;
	display: inline;
	cursor: pointer;
	margin-top: -17px;
	margin-right: -10px;
	font-size: 1.3em;
}

/*Header*/

#header {
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: #3399ff;
	position: fixed;
	z-index: 11;
}

.logo {
	width: 60px;
	height: inherit;
	background-color: #001a33;
	float: left;
	z-index: 11;
}

.fullLogo {
	width: 200px;
}

.barContainer {
	width: 20px;
	height: 40px;
	cursor: pointer;	
	margin-left: 65px;
}

.fullBarContainer {
	margin-left: 205px;
}


#setting {
	padding-top: 18px;
}

#setting #menu:before,
#setting #menu:after,
#setting #menu {
	width: 2px;
	height: 2px;
	background-color: #fff;
	border-radius: 100%;
}

#setting #menu:before,
#setting #menu:after {
	content: "";
	float: left;
}

#setting #menu:after {
	margin-top: 3px;
}

#bar:before,
#bar:after,
#bar {
	content: "";
	width: 20px;
	height: 2px;
	background-color: #fff;
	float:left;
}

#bar:before {
	margin-top: 5px;
	
}

#bar:after {
	margin-top: 3px;
}

#bar {
	margin-top: 14px;
	margin-bottom: 2px;
}
/*end*/

/*Sidebar*/

.sidebar {
	width: 100%;
	background-color: #001a33;
	position: fixed;
	padding-top: 40px;
	max-height: 0;
	overflow: hidden;
	color: #fff;
	z-index: 5;
	
	-webkit-transition: max-height 400ms ease-in-out;
	-ms-transition: max-height 400ms ease-in-out;
	transition: max-height 400ms ease-in-out;
}

.showSidebar {
	max-height: 100%;
}

#sidebarHeader {
	margin: 10px 0;
}

#sidebarBody {
	margin: 15px 0;
}

.menu {
	display: block;
	width: 100%;
	float: left;
	padding: 10px 15px;
	cursor: pointer;
}

.noMenu {
	cursor: default;
	display:block;
	width: 100%;
	float: left;
}

.category:hover{
	background-color: #003366
}

.subMenu{
	max-height: 0;
	overflow: hidden;
	-webkit-transition: max-height 400ms ease-in-out;
	-ms-transition: max-height 400ms ease-in-out;
	transition: max-height 400ms ease-in-out;
}

.show {
	max-height: 200px;
}

.subCustomer {
	padding-left: 32px;
}

.subDevice {
	padding-left: 29px;
}

.subAdmin {
	padding-left: 34px;
}

.subCustomer:hover,
.subDevice:hover,
.subAdmin:hover   {
	color: orange;
}

#sidebarBody p {
	margin-left: 4px;
}

#mainMenu {
	margin-top: 10px;
}

#userPhoto {
	width: 50px;
	height: 50px;
	margin: 0 auto;
}

#userPhoto img {
	width: 100%;
	height: 100%;
	border-radius: 100%;
}

/*end*/

/*Content*/

.text-center {
	text-align:center;
}


.pull-left,
.text-left {
	text-align: left;
}

.pull-right ,
.text-right {
	text-align: right;
}

.pull-left,
.pull-right {
	display: inline;
}

.titleBar {
	width: 100%;
	background-color: #fff;
	padding: 10px;
}

.titleNav li{
	display: block;
	float: left;
	padding: 5px;
	padding-left: 0;
}

.contentWrapper {
	height: 100%;
	width: 100%;
	padding-top: 40px;
}

.content {
	margin: 15px;
	position: relative;
}

.contentHeader,
.contentBody,
.contentFooter {    
	padding: 10px;
	background-color: #fff;
}

.contentHeader {
	padding-top: 15px;
	padding-bottom: 15px;
}

.rowHeader,
.row {
	padding: 3px 0;
}

.rowHeader {
	border-bottom: 1px solid #c4c4c4;
	margin-bottom: 4px;    
}

.rowGroup {
	padding: 5px 0; 
}

.colLeft, 
.colRight {
	float: none;
	width: 100%;
	padding: 3px;
}

/*Search*/

.searchbar {
	border-collapse: collapse;
	width: 100%;
}

.searchicon {
	padding: 5px;
	color: #fff;
	background-color: #3399ff;
	cursor: pointer;
}

.search {
	padding: 6px;
	border: 1px solid #c4c4c4;
}

.advance {
	position: relative;
}

.dropDownContent li,
.advance li{
	display: block;
	float:left;
}

/*End search*/

/*Drop down*/

.dropDrown {
	position: relative;
	display:inline-block;
}

.dropDownContent {
	display: none;
	position: absolute;
	z-index: 10;
	left: -1px;
	width: 118px;
	background-color: #f7f7f7;
	border: 1px solid #c4c4c4;
	border-bottom: none;
	margin-top: 2px;
}

.dropDownContent li {
	width: 100%;
	padding: 10px;
	border-bottom: 1px solid #c4c4c4;
}

.dropDownContent li:hover {
		background-color: #e7e7e7;
		cursor: pointer;
}

.dropDown:hover .dropDownContent {
	display:block;
}

/*End dropdown*/

/*Dashboard*/
.dashboard {
	width: 100%;
	height: auto;
	margin: 0 auto;
	background-color: #fff;
	margin-bottom: 15px;
	border-radius: 3px;
}

.dashboardHeader {
	padding: 10px;
}

.dashboardBody {
	padding: 10px;
}

/*Table*/
.dataTable {
	width: 100%;
	border-bottom: none;
	border-collapse: collapse;
	color: grey;
	margin-top: 5px;
	outline-style: grove;
	outline-color: #c4c4c4;
	outline-width: 1px;
}

.dataTable th,
.dataTable td {
	padding: 10px;
	border-bottom:1px solid #c4c4c4;
}

.dataTable th{
	font-weight: bold;
	background-color: #f8f8f8;
	cursor: default;
	border-top:1px solid #c4c4c4;
}

#listCustomerPage  .dataTable td, #listDevicePage .dataTable td {
	cursor: pointer;
}

#CustomerDetailPage .dataTable td, #DeviceDetailPage .dataTable td {
	cursor: default;
}

.dataTable tbody tr:hover {
	background-color: #ccffcc;
}


.dataTable tr:nth-child(even) {
	background-color: #f8f8f8;
}

.delete {
	width: 40px;
	color: red;	
}

#CustomerDetailPage .delete {
	cursor: pointer !important;
}

/*End table*/

/*Input*/

.input {
	padding: 5px;
	border: 1px solid #c4c4c4;
}

.input-5 {
	width: 5%;
}

.input-10 {
	width: 10%;
}

.input-15 {
	width: 15%;
}

.input-20 {
	width: 20%;
}

.input-25 {
	width: 25%;
}

.input-30 {
	width: 30%;
}

.input-35 {
	width: 35%;
}

.input-40 {
	width: 40%;
}

.input-45 {
	width: 45%;
}

.input-50 {
	width: 50%;
}

.input-55 {
	width: 55%;
}

.input-60 {
	width: 60%;
}

.input-65 {
	width: 65%;
}

.input-70 {
	width: 70%;
}

.input-75 {
	width: 75%;
}

.input-80 {
	width: 80%;
}

.input-90 {
	width: 90%;
}

.input-95 {
	width: 95%;
}

.input-100 {
	width: 100%;
}

/*End*/

/*Button*/
.btn {
	padding: 4px;
	border-radius: 0;
	border: none;
	cursor: pointer;
}

.btnLogin {
	width: 100%;
	padding: 8px 0;
	background-color: #3366CC;
	font-weight: 900;
}

.btnLogin:hover {
	background-color: #6699FF;
}

.btnLogin:active {
	background-color: #3366CC;
}

.btnSuccess {
	color: #484848;
}

.btnSuccess:hover {
	background-color: #00ff99;
}

.btnSuccess,
.btnSuccess:active {
	background-color: #00ee88;
}

.btnCancel {
	background-color: #484848;
}

.btnCancel:hover {
	background-color: #595959;
}

.btnDelete,
.btnDelete :active {
	background-color: #ff4c4c;
}

.btnDelete:hover {
	background-color: #ff6666;
}

.btnDelete,
.btnCancel,
.btnLogin {
	color: #fff;
}

.btnDelete,
.btnCancel,
.btnSuccess {
	font-weight: 700;
	padding: 5px;
}

/*end*/
#dateInstalled {
	display:inline=block;;
}
#dateInstalled li {
	float: left;
	display:block;
	padding: 0 2px;
}

/*login*/
.loginWrapper {
	width: 100%;
	height: 100$;
	margin: 0 auto;
	padding-top: 10%;
	position: relative;
}

.loginContainer {
	width: 100%;
	height: 380px;
	background-color: #fff;
	margin: 0 auto;
	padding: 5px;
}

.loginContainer p {
	color: #a4a4a4;
	font-size: 0.9em
}

.loginContainer a {
	color: #6699FF;
}

.login {
	border: none;
	border-bottom: 1px solid #c4c4c4;
	padding-left: 0;
	padding-right: 0;
	margin: 5px 0;
	outline: none;
	
	-webkit-transition: border 420ms;
	-ms-transition: border 420ms;
	 transition: border 420ms;
}

.login:focus {
	border-color: blue;
}

.errorLog {
	border:2px solid #ff6666; 
	padding: 4px; 
	text-align:center; 
	background-color:#ffb2b2
}

#rights {
	margin: 0 15px;
	border-collapse: collapse;
	font-size: 0.9em;
}

#rights .row {
	padding: 5px 0;
}

#rights .right {
	float: none;
	padding-bottom: 3px;
}

#rights td {
	padding-left: 3px;
}

.modalContainer li:nth-child(2),
.modalContainer li:nth-child(3),
.rowGroup li:nth-child(2),
.rowGroup li:nth-child(3){
	padding-left: 2px;
}

.modalContainer li,
.rowGroup li {
	float: left;
}

/*end*/

/*Modal*/
.modalWrapper:before {
	content:"";
	display: none;
}

.modalContainer {
	width: 450px;
	height: auto;
	background-color: #fff;
	margin: auto;
	top: -80%;
	
	-webkit-transition: top 320ms ease-in-out;
	-ms-transition: top 320ms ease-in-out;
	 transition: top 320ms ease-in-out;
	 position: absolute;
	 left: 50%;
	 transform: translate(-50%);
}

.showModal {
	display: block;
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	z-index: 120;
	position:fixed;
	top: 0;
}

.showModalContent {
	top: 10px;
}

.modalContainer .close {
	top: -6px;
	right: 8px;
	position:absolute;
	font-size: 1.5em;
	cursor: pointer;
}

.modalContainer .contentHeader {
	background-color: #3399ff;
	padding: 10px;
}

.modalContainer .contentBody {
	padding: 15px;
}

.modalContainer .contentFooter {
	padding: 10px 15px;
} 


@media screen and (min-width:345px) {
	.loginContainer {
		width: 327px;
	}
	
} 

@media screen and (min-width: 600px) {
	.sidebar {
		max-width: 60px;
		max-height: 100%;
		height: 100%;
		float: left;
		
		-webkit-transition: none;
		-ms-transition: none;
		transition: none;
	}
	
	.fullSidebar {
		max-width: 200px;
	}
	
	.menu {
		text-align: center;
	}
	
	#userPhoto {
		width: 32px;
		height: 32px;
	}
	
	.hide {
		display: none;
	}
	
	.left {
		float: left;
	}
	
	.right {
		float: right;
	}
	
	.contentWrapper {
		padding-left: 60px;
	}
	
	.searchbar {
		width: 300px;
	}
	
	.colRight,
	.coLleft {
		padding-top: 0;
		padding-bottom: 0;
	}
	
	.rowGroup li:nth-child(2),
	.rowGroup li:nth-child(3){
		padding-left: 2px;
	}
	
	.rowGroup li {
		float: left;
	}
	
	.modalContainer {
		width: 500px;
	}
	
}

@media screen and (min-width: 830px) {
	.dashboard {
		width: 48%;
		float: left;
		margin-right: 5px;
		margin-left: 5px;
	}
}

@media screen and (min-width: 1200px) {
	.sidebar {
		max-width: 200px;
	}
	
	#logo {
		width: 200px;
	}
	
	.barContainer {
		margin-left: 205px;
	}
	
		
	.menu {
		text-align: left;
	}
	
	#userPhoto {
		width: 38px;
		height: 38px;
	}
	
	.hide {
		display: inline;
	}
	
	#username {
		text-align:center;
	}
	
	.hideSidebar {
		max-width: 60px;
	}
	
	.hideLogo {
		max-width: 60px;
	}
	
	.contentWrapper {
		padding-left: 200px;
	}
	
	.colLeft {
		width: 50%;
		display: inline;
		float: left;
		padding: 0 2px;
	}

	.colRight {
		width: 50%;
		display: inline;
		float: right;
		padding: 0 2px;
	}
	
}