* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	position: relative;
	background-color: #fff;
	min-height: 100% !important;
	font-family: Calibri
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

#wrapper {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.filter {
	margin-top: 20px;
	margin-bottom: -15px;	
	display: inline-block;
}

.filter li {
	float: left;
	display: block;
	margin-right: 7px;
}


.margin {
	margin: 0 auto;
	width: 1100px;
	padding-top: 50px;
	height: 100%;
}

.clearfix:after {
	content:"";
	display:block;
	clear:both;
}

/*Modal*/

.modalWrap:before {
	display: none;
}

.modalContent {
	position: absolute;
	width: 500px;
	height: auto;
	left: 50%;
	top: -200%;
	background-color: #fff;
		border-radius: 5px;
	
	-webkit-transform: translate(-50%);
	-moz-transform: translate(-50%);
	transform: translate(-50%);
	
	-webkit-transition: top 350ms ease-in-out;
	-moz-transition: top 350ms ease-in-out;
	transition: top 350ms ease-in-out;
}

 .showModalWrap {
	position: fixed;
	display:block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 20;
	background-color: rgba(0, 0, 0, 0.5);
}

.showModalContent {
	top: 15px;
}

.modalContent li{
	float: left;
	display: block;
	margin: 0 2px;
}

.modalHeader,
.modalBody,
.modalFooter {
	padding: 0 18px;
}

.modalBody {
	padding-top: 5px;
}

.modalHeader {
	padding-top: 18px;
	padding-bottom: 0px;
}

.modalFooter {
	padding-top: 45px;
	padding-bottom: 18px;
}

.modalClose {
	float: right;
	display: inline;
	cursor: pointer;
	margin-top: -17px;
	margin-right: -10px;
	font-size: 1.3em;
}

/*Header*/
#header {
	width: 100%;
	height: 50px;
	background-color: #001a33;
	position: fixed;
}

/*Navbar*/
#navbar {
	width: 1100px;
	margin: 0 auto;
	height: inherit;
	line-height: 50px;
	color: #f6f6f6;
}

#navbar a {
	color: #fff;
}

#setting {
	padding-top: 18px;
}

#setting #menu:before,
#setting #menu:after,
#setting #menu {
	width: 2px;
	height: 2px;
	background-color: #fff;
	border-radius: 100%;
}

#setting #menu:before,
#setting #menu:after {
	content: "";
	float: left;
}

#setting #menu:after {
	margin-top: 3px;
}

#logo {
	
}

#sidebar {
	float: left;
	position: fixed;
	width: 200px;
}

#sidebar #sidebarHeader {
	padding: 8px 10px;
}

#sidebar #sidebarBody {
	padding: 0 25px;
}

#sidebar #userPhoto {
	width: 70px;
	height: 70px;
	margin: 0 auto;
}

#sidebar #userPhoto img {
	width: 100%;
	height: 100%;
	border-radius: 100%;
	border: 1px solid #a9a9a9;
}

#sidebar #username {
	text-align: center;
	margin-top: 2px;
}

#sidebar .menu {
	display: block;
	float: left;
	width: 100%;
	padding: 4px 0;
	cursor: pointer;
}

#footer {
	position: absolute;
	bottom: 0;
	height:auto;
	width: 100%;
	background-color: #A9A9A9;
}

#footer .margin {
	padding-top: 0;
	padding-bottom: 0;
}

#footer .row {
	width: 35%;
	float:left;
	text-align: center;
}

#footer li {
	width: 40px;
	height: 40px;
	float: left;
	display:block;
	margin: 10px;
}

#footer ul {
	text-align:center; width: 150px; margin: auto;
}

#footer img {
	max-width: 100%;
	height: auto;
}

#setting #menu:before {
	margin-top: 5px;
}

.text-center {
	text-align:center;
}

.pull-left,
.text-left {
	text-align: left;
}

.pull-right ,
.text-right {
	text-align: right;
}

.pull-left,
.pull-right {
	display: inline;
}

.right {
	float: right;
}

.left {
	float: float;
}

.contentWrapper {
	height: 100%;
	padding-left: 200px;
}

.content {
	margin: 15px;
	position: relative;
}

.contentHeader,
.contentBody,
.contentFooter {    
	padding: 10px;
	background-color: #fff;
}


/*login*/
.loginWrapper {
	 background-size: cover;
	 height: 100vh; 
	 width: 100%;
	padding-top: 10%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: #f7f7f7;
}

.loginWrapper .contentHeader,
.loginWrapper .contentBody,
.loginWrapper .contentFooter {
	background-color: #fff;
	color: grey
}

.loginContainer {
	width: 100%;
	height: 380px;
	background-color: #fff;
	margin: 0 auto;
	padding: 5px;
}

.loginContainer p {
	color: #grey
	font-size: 0.9em
}

.loginContainer a {
	color: #6699FF;
}

.login {
	border: none;
	border-bottom: 1px solid #c4c4c4;
	padding-left: 0;
	padding-right: 0;
	margin: 5px 0;
	outline: none;
	
	-webkit-transition: border 420ms;
	-ms-transition: border 420ms;
	 transition: border 420ms;
}

.login:focus {
	border-color: blue;
}

.errorLog {
	border:2px solid #ff6666; 
	padding: 4px; 
	text-align:center; 
	background-color:#ffb2b2
}

/*Search*/

.searchbar {
	border-collapse: collapse;
	width: 100%;
}

.searchicon {
	padding: 5px;
	color: #fff;
	background-color: #001a33;
	cursor: pointer;
}

.search {
	padding: 6px;
	border: 1px solid #c4c4c4;
}

/*Table*/
.dataTable {
	width: 100%;
	border-bottom: none;
	border-collapse: collapse;
	color: grey;
	margin-top: 25px;
	outline-style: grove;
	outline-color: #c4c4c4;
	outline-width: 1px;
}

.dataTable td {
	padding: 12px 10px;
	border-bottom:1px solid #c4c4c4;
}

.dataTable th{
	font-weight: bold;
	cursor: default;
	padding: 10px;
}

.dataTable thead tr {
  -webkit-box-shadow: 0 2px 0px #323232;
  -moz-box-shadow: 0 2px 0px #323232;
   box-shadow: 0 2px 0px #323232;
}

 #devicePage .dataTable td {
	cursor: pointer;
}
.dataTable td {
	cursor: default;
}

.dataTable tbody tr:hover {
	background-color: #ccffcc;
}


.dataTable tr:nth-child(even) {
	background-color: #f8f8f8;
}


.delete {
	width: 40px;
	color: red;	
}

.restore {
	width: 60px;
	color: green;
}

.notif {
	padding-lefT: 10px;
}

#pending p {
	color: #6699FF;
	cursor: pointer;
}

#pending p:hover {
	text-decoration: underline;
}

/*Input*/

.login,
.input {
	padding: 5px;
}

.input {
	border: 1px solid #c4c4c4;
}

.input-5 {
	width: 5%;
}

.input-10 {
	width: 10%;
}

.input-15 {
	width: 15%;
}

.input-20 {
	width: 20%;
}

.input-25 {
	width: 25%;
}

.input-30 {
	width: 30%;
}

.input-35 {
	width: 35%;
}

.input-40 {
	width: 40%;
}

.input-45 {
	width: 45%;
}

.input-50 {
	width: 50%;
}

.input-55 {
	width: 55%;
}

.input-60 {
	width: 60%;
}

.input-65 {
	width: 65%;
}

.input-70 {
	width: 70%;
}

.input-75 {
	width: 75%;
}

.input-80 {
	width: 80%;
}

.input-90 {
	width: 90%;
}

.input-95 {
	width: 95%;
}

.input-100 {
	width: 100%;
}

.title {
	border-bottom: 1px solid #c4c4c4; padding-bottom: 6px;
	margin-bottom: 20px;
}

/*Button*/
.btn {
	padding: 4px;
	border-radius: 0;
	border: none;
	cursor: pointer;
}

.btnLogin {
	width: 100%;
	padding: 8px 0;
	background-color: #3366CC;
	font-weight: 900;
	color: #fff;
}

.btnLogin:hover {
	background-color: #6699FF;
}

.btnLogin:active {
	background-color: #3366CC;
}

/*Dropdown*/

.dropDown {
	position: relative;
	cursor: pointer;
	width: 7px;
	height: auto;
}

.dropDownContent {
	position: absolute;
	z-index: 20;
	color: #c4c4c4;
	width: 150px;
	left: -150px;
	background-color: #d8d8d8;
	top: 15px;
}

.dropDownContent ul {
	padding: 0;
}
.dropDownContent li {
	color: #000;
	float: left;
	display:block;
	width: 100%;
	text-align: left;
	background-color: red;
	padding: 5px;
	margin: 0;
}

.row {
	padding: 3px 0;
}


@media screen and (min-width:345px) {
	.loginContainer {
		width: 327px;
	}
	
} 

@media screen and (max-width:1120px) {
	.margin,
	#navbar {
		width: 100%;
	}
	
	#navbar,#footer {
		padding-left: 5px;
		padding-right: 15px;
	}
} 

