<section id="listCustomerPage" class="contentWrapper">
	<div class="titleBar clearfix">
		<h4 class="left">Admin</h4>
		<ul class="titleNav right">
			<li><a href="#/Dashboard">Dashboard</a></li>
			<li>/</li>
			<li>Admin</li>
			<li>/</li>
			<li>List Admin</li>
		</ul>
	</div>
	<div class="content">
		<div class="contentHeader">
			<p>List of Admins</p>
		</div>
		<div class="contentBody">
			<div class="row clearfix">
				<table class="searchbar right">
					<tr>
						<td><input class="search input-100" ng-model="searchEntry"></td>
						<td class="searchicon text-center"><i class="fa fa-search"></i></td>
					</tr>
				</table>
			</div>
			<table class="dataTable">
				<thead></thead>
					<tr>
						<th class="text-center"><i class="fa fa-trash"></i></th>
						<th class="text-left input-20" ng-click="sort('firstName')">
							First Name
							<span ng-show="sortKey=='first_name'" ng-class="{'fa fa-caret-up':reverse,'fa fa-caret-down':!reverse}"></span>
						</th>
						<th class="text-left input-80" ng-click="sort('lastName')">
							Last Name<span  ng-show="sortKey=='first_name'" ng-class="{'fa fa-caret-up':reverse,'fa fa-caret-down':!reverse}"></span>
						</th>
					</tr>
				<tbody>
					<tr ng-repeat="admin in entries.admins | filter: searchEntry | orderBy:sortKey:reverse">
						<td class="delete text-center" ng-click="deleteAdmin(admin)"><i class="fa fa-close"></i></td>
						<td class="text-left input-20" ng-click="editAdmin(admin)">{{admin.firstName}}</td>
						<td class="text-left input-20" ng-click="editAdmin(admin)">{{admin.lastName}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="contentFooter">
		</div>
	</div>
</section>