<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="mainCtrl">
	<head>
		<title>electric meter</title>
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="stylesheet" type="text/css" href="../css/font-awesome-4.6.3/css/font-awesome.min.css">		
		<link rel="stylesheet" type="text/css" href="../css/customer.css">
	</head>
	<body>
	
		<div id="wrapper"> 
		 <div ng-if="login">
		   <div ng-include="'/appCustomer/shared/Header.html'"></div>
		 </div>
			<div class="margin">
			    <div ng-if="login">
					<div ng-include="'/appCustomer/shared/Sidebar.html'"></div>
			    </div>
				<div ng-view></div>
			</div>
			<div ng-if="login">
				<div ng-include="'/appCustomer/shared/Footer.html'"></div>
			</div>
		</div>
		
		<script src="../scripts/angular.min.js"></script>
		<script src="../scripts/angular-route.js"></script>
		<script src="../scripts/ngStorage.min.js"></script>
		
		<script src="/appCustomer/app.module.js"></script>
		<script src="/appCustomer/app.route.js"></script>
		<script src="/appCustomer/app.directive.js"></script>
		
		<script src="/appCustomer/components/device/device.module.js"></script>
		<script src="/appCustomer/components/bill/bill.module.js"></script>
		<script src="/appCustomer/components/login/login.module.js"></script>
		
		<script src="/appCustomer/components/login/login.service.js"></script>
		<script src="/appCustomer/components/device/device.service.js"></script>
		<script src="/appCustomer/components/bill/bill.service.js"></script>
	</body>
</html>