<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="mainCtrl">
	<head>
		<title>electric meter</title>
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="stylesheet" type="text/css" href="../css/font-awesome-4.6.3/css/font-awesome.min.css">		
		<link rel="stylesheet" type="text/css" href="../css/admin.css">
	</head>
	<body>
	
		<div id="wrapper"> 
			<div ng-if="login">
				<div ng-include="'/appAdmin/shared/Header.html'"></div>
				<div ng-include="'/appAdmin/shared/Sidebar.html'"></div>
			</div>
			<div ng-view></div>
		</div>
		
		<script src="../scripts/angular.min.js"></script>
		<script src="../scripts/angular-route.js"></script>
		<script src="../scripts/ngStorage.min.js"></script>
		<script src="/appAdmin/app.module.js"></script>
		<script src="/appAdmin/app.route.js"></script>
		<script src="/appAdmin/app.directive.js"></script>
		<script src="/appAdmin/components/login/login.module.js"></script>
		<script src="/appAdmin/components/customer/customer.module.js"></script>
		<script src="/appAdmin/components/device/device.module.js"></script>
		<script src="/appAdmin/components/admin/admin.module.js"></script>
		
		<script src="/appAdmin/components/login/login.service.js"></script>
		<script src="/appAdmin/components/customer/customer.service.js"></script>
		<script src="/appAdmin/components/admin/admin.service.js"></script>
		<script src="/appAdmin/components/device/device.service.js"></script>
	</body>
</html>