<section id="CustomerDetailPage" class="contentWrapper">
	<div class="titleBar clearfix">
		<h4 class="left">Customer</h4>
		<ul class="titleNav right">
			<li><a href="#/Dashboard">Dashboard</a></li>
			<li>/</li>
			<li>Customer</li>
			<li>/</li>
			<li>Add New Customer</li>
		</ul>
	</div>
	<div class="content">
		<div class="contentHeader">
			<p>Customer Details</p>
		</div>
		<div class="contentBody">
			<form>
				<div class="rowGroup clearfix">
					<div class="rowHeader">
						<p>PERSON INFO</p>
					</div>
					<div class="row clearfix">
						<div class="colLeft">
							<label for="firstName">First Name</label><br>
							<input ng-disabled="disable" name="firstName" title="First Name is required." type="text" ng-model="customer.firstName" class="input input-100" />
						</div>
						<div class="colRight">
							<label for="lastName">Last Name</label><br>
							<input  ng-disabled="disable" name="lastName" title="Last Name is required." type="text" ng-model="customer.lastName" class="input input-100" />
						</div>
					</div>
					<div class="row clearfix">
						<div class="colLeft">
							<label for="gender">Gender</label><br>
							<select  ng-disabled="disable" name="gender" title="Gender is required." ng-model="customer.gender" class="input input-100" ng-options="item for item in gender">
							</select>
						</div>
						<div class="colRight">
							<label for="birthday">Date of Birth</label><br>	
							<ul class="input-100">
								<li class="input-40">
									<select  ng-disabled="disable" ng-model="customer.birthday.month" class="input input-100" ng-options="month.value for month in months">
									</select>
								</li>
								<li class="input-30">
									<select  ng-disabled="disable" ng-model="customer.birthday.day" class="input input-100" ng-options="day for day in days">
									</select>
								</li>
								<li class="input-30">
									<select  ng-disabled="disable" ng-model="customer.birthday.year" class="input input-100" ng-options="year for year in years">
									</select>
								</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<label for="address">Address</label><br>
						<input  ng-disabled="disable" name="address" title="Address is required." type="text" ng-model="customer.address" class="input input-100" />
					</div>
				</div>
				<div class="rowGroup">
					<div class="rowHeader">
						<p>Contact Info</p>
					</div>
					<div class="row">
						<label for="email">Email</label><br>
						<input  ng-disabled="disable" name="email" title="Email is required." type="text" ng-model="customer.email" class="input input-100" />
					</div>
				</div>
				<div class="rowGroup">
					<div class="rowHeader">
						<p>ACCOUNT</p>
					</div>
					<div class="row">
						<label for="userName">Username</label><br>
						<input  ng-disabled="disable" name="usernName" title="Username is required." type="text" ng-model="customer.username" class="input input-100" />
					</div>
					<div class="row">
						<label for="password">Password</label><br>
						<input ng-disabled="disable" type="password" name="password" title="Password is required." type="text" ng-model="customer.password" class="input input-100" />
					</div>
					<div class="row">
						<label for="confirmPassword">Confirm Password</label><br>
						<input  ng-disabled="disable" type="password" name="confirmPassword" title="Confirm Password is required." type="text" ng-model="confirmPassword" class="input input-100" />
					</div>
				</div>
				<div class="rowGroup">
					<div class="rowHeader">
						<p>DEVICES</p>
					</div>
					<div class="row">
						<table class="dataTable">
							<thead>
								<tr>
									<th class="delete tex-center" style="color:grey"><i class="fa fa-trash"></i></th>
									<th class="text-left input-20">Meter Number</th>
									<th class="text-center input-20">Installation Date</th>
									<th class="text-center">Pending Bill</th>
									<th></th>
									<th class="text-right"><button class="btn btnSuccess" ng-click="addDevice()"><i class="fa fa-plus"></i>&nbsp;Install Device</button></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="device in entries.devices">
									<td class="delete text-center" ng-click="deleteDevice(device)"><i class="fa fa-close"></i></td>
									<td class="text-left input-20">
										{{device.meterNumber}}
									</td>
									<td class="text-center input-20">
										{{device.installationDate.month + "/" + device.installationDate.day + "/" + device.installationDate.year}}
									</td>
									<td class="text-center">
										<input ng-model="device.pendingBill" type="checkbox" ng-disabled="true">
									</td>
									<td colspan="2"><label style="cursor:pointer; color: #3399ff" ng-click="addBill(device)">Add bill</label></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</form>
		</div>
		<div class="contentFooter">
			<button class="btn btnSuccess" ng-click="submitCustomer()"><i class="fa fa-check "></i>&nbsp;Save</button>
			<button class="btn btnCancel"><i class="fa fa-close"></i>&nbsp;Cancel</button>
		</div>
	</div>
</section>

<!-- Modal Install Device-->
	<div id="installDeviceWrapper" class="modalWrap">
		<div  id="installDeviceModal" class="modalContent">
			<div class="modalHeader">
				<strong>Electric Meter evice</strong>
				<div id="installDeviceClose" class="modalClose">&times;</div>
			</div>
			<div class="modalBody">
				<div class="row">
					<label>Meter Number</label><br>
					<select ng-model="device.customerDevice" class="input input-100" ng-options="device.meterNumber for device in entries.availableDevices">								
					</select>
				</div>
				<div class="row">
					<label>Installation Date</label><br>
					<ul class="modalDate clearfix">
						<li class="input-35">
							<select ng-model="installationDate.month" class="input input-100" ng-options="month.value for month in months">
								
							</select>
						</li>
						<li class="input-15">
							<select ng-model="installationDate.day" class="input input-100" ng-options="day for day in days">
								
							</select>
						</li>
						<li class="input-20">
							<select ng-model="installationDate.year" class="input input-100" ng-options="year for year in years">
								
							</select>
						</li>
					</ul>
				</div>
			</div>
			<div class="modalFooter clearfix">
				<div class="right">
					<button class="btn btnSuccess" ng-click="installDevice()">Install</button>
					<button class="btn btnCancel">Cancel</button>
				</div>
			</div>
		</div>
	</div>
<!-- End -->

<!-- Modal Add Bill -->
	<div id="billWrapper" class="modalWrap">
		<div  id="billModal" class="modalContent">
			<div class="modalHeader">
				<strong>ADD BILL</strong>
				<div id="billClose" class="modalClose">&times;</div>
			</div>
			<div class="modalBody">
				<div class="row">
					<label>Meter Number {{bill.device.meterNumber}}</label><br>
				</div>
				<div class="row">
					<label>Reading Date</label><br>
					<ul class="modalDate clearfix">
						<li class="input-25">
							<select ng-model="bill.readingDate.month" class="input input-100" ng-options="month.value for month in months">
								
							</select>
						</li>
						<li class="input-15">
							<select ng-model="bill.readingDate.day" class="input input-100" ng-options="day for day in days">
								
							</select>
						</li>
						<li class="input-20">
							<select ng-model="bill.readingDate.year" class="input input-100" ng-options="year for year in years">
								
							</select>
						</li>
					</ul>
				</div>
				<div class="row">
					<label>Reading</label><br>
					<input ng-model="bill.reading" type="text" class="input input-40 text-right" ng-keydown="bill.amount =  bill.reading * 10.8584">								
				</div>
				<div class="row">
					<label>Total Amount</label><br>
					<input ng-model="bill.amount" type="text" class="input input-40 text-right" disabled>								
				</div>
			</div>
			<div class="modalFooter clearfix">
				<div class="right">
					<button class="btn btnSuccess" ng-click="addBillToDevice()">Install</button>
					<button class="btn btnCancel">Cancel</button>
				</div>
			</div>
		</div>
	</div>
<!-- End -->