<section id="listCustomerPage" class="contentWrapper">
	<div class="titleBar clearfix">
		<h4 class="left">Customer</h4>
		<ul class="titleNav right">
			<li><a href="#/Dashboard">Dashboard</a></li>
			<li>/</li>
			<li>Customer</li>
			<li>/</li>
			<li>List Customer</li>
		</ul>
	</div>
	<div class="content">
		<div class="contentHeader">
			<p>List of Customers</p>
		</div>
		<div class="contentBody">
			<div class="row clearfix">
				<select class="input left" ng-model="noEntries" style="border: 1px solid #e8e8e8"></select>
				<table class="searchbar right">
					<tr>
						<td><input class="search input-100" ng-model="searchEntry"></td>
						<td class="searchicon text-center"><i class="fa fa-search"></i></td>
					</tr>
				</table>
			</div>
			<table class="dataTable">
				<thead></thead>
					<tr>
						<th class="text-left input-15" ng-click="sort('firstName')">
							First Name
						<span ng-show="sortKey=='first_name'" ng-class="{'fa fa-caret-up':reverse,'fa fa-caret-down':!reverse}"></span>
						</th>
						<th class="text-left input-20" ng-click="sort('lastName')">
							Last Name<span  ng-show="sortKey=='first_name'" ng-class="{'fa fa-caret-up':reverse,'fa fa-caret-down':!reverse}"></span>
						</th>
						<th class="text-center input-10">Devices</th>
					</tr>
				<tbody>
					<tr ng-repeat = "customer in entries.customers | filter: searchEntry  | orderBy:sortKey:reverse">
						<td class="text-left input-20" ng-click="editCustomer(customer)">{{customer.firstName}}</td>
						<td class="text-left input-20" ng-click="editCustomer(customer)">{{customer.lastName}}</td>
						<td class="text-center input-10" ng-click="editCustomer(customer)">{{customer.myDevices.length}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="contentFooter">
		</div>
	</div>
</section>