<section id="listCustomerPage" class="contentWrapper">
	<div class="titleBar clearfix">
		<h4 class="left">Admin</h4>
		<ul class="titleNav right">
			<li><a href="#/Dashboard">Dashboard</a></li>
			<li>/</li>
			<li>Bills</li>

		</ul>
	</div>
	<div class="content">
		<div class="contentHeader">
			<p>List of Admins</p>
		</div>
		<div class="contentBody">
			<div class="row clearfix">
				<select class="input left" ng-model="noEntries" style="border: 1px solid #e8e8e8"></select>
				<table class="searchbar right">
					<tr>
						<td><input class="search input-100" ng-model="searchEntry"></td>
						<td class="searchicon text-center"><i class="fa fa-search"></i></td>
					</tr>
				</table>
			</div>
			<table class="dataTable">
				<thead>
					<tr>
						<th class="text-center delete"><i class="fa fa-trash" style="color: grey"></i></th>
						<th class="text-left input-15">Reading Date</th>
						<th class="text-center input-25">Reading</th>
						<th class="text-center input-25">Amount</th>
						<th class="text-left">Paid</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="bill in entries.device.bills">
						<td class="delete text-center"><input ng-model="bill.remove" ng-true-value="true" ng-false-value="false" type="checkbox" ng-click="deleteBill(bill)"></i></td>
						<td class="text-left input-15">{{bill.readingDate}}/td>
						<td class="text-center input-25">{{bill.reading}}</td>
						<td class="text-center input-25">{{bill.amount}}</td>
						<td class="text-left"><input type="checkbox" ng-model="bill.paid" disabled></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="contentFooter">
		</div>
	</div>
</section>