<section id="devicePage" class="contentWrapper">
	<div class="contentHeader">
		<div class="pull-right">
			<table class="searchbar pull-right">
				<tr>
					<td><input class="search input-100" ng-model="searchEntry"></td>
					<td class="searchicon text-center"><i class="fa fa-search"></i></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="contentBody">
		<h3>MY DEVICES</h3>
		<table class="dataTable">
			<thead>
				<tr>
					<th class="text-left" ng-click="sort('meterNumber')">Meter Number
						<span ng-show="sortKey=='meterNumber'" ng-class="{'fa fa-caret-up':reverse,'fa fa-caret-down':!reverse}"></span></th>
					<th class="text-left" ng-click="sort('installationDate')">
						Date Installed
						<span ng-show="sortKey=='installationDate'" ng-class="{'fa fa-caret-up':reverse,'fa fa-caret-down':!reverse}"></span>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="device in entries.devices | filter: searchEntry  | orderBy:sortKey:reverse">
					<td class="text-left" ng-click="editDevice(device)">{{device.meterNumber}}</td>
					<td class="text-left" ng-click="editDevice(device)">{{device.installationDate}} </td>
				</tr>
			</tbody>
		</table>
	</div>
</section>