<section id="loginPage" class="loginWrapper">
	<div class="loginContainer">
		<form>
			<div class="contentHeader"><h5>Sign in</h5></div>
			<div class="contentBody">
				<div class="errorLog" ng-if="invalid">
					<span>Invalid username or password</span>
				</div>
				<div class="row">
					<input ng-model="user.username" type="text" class="login input input-100" placeholder="Username" />
				</div>
				<div class="row">
					<input ng-model="user.password" type="password" class="login input input-100" placeholder="Password"/>
				</div>
				<div class="row">
					<p class="text-center"><i class="fa fa-lock"></i>&nbsp;Forgot your password?&nbsp;<a href="#">Click here</a></p>
				</div>
			</div>
			<div class="contentFooter">
				<button class="btn btnLogin" ng-click="submit()">Login</button>
			</div>
		</form>
	</div>
</section>
